{% assign inspiration_img1 = section.settings.inspiration_img1 %}
{% assign inspiration_img2 = section.settings.inspiration_img2 %}
{% assign inspiration_img3 = section.settings.inspiration_img3 %}
{% assign inspiration_img4 = section.settings.inspiration_img4 %}
{% assign inspiration_img5 = section.settings.inspiration_img5 %}
{% assign inspiration_img6 = section.settings.inspiration_img6 %}
{% assign inspiration_img7 = section.settings.inspiration_img7 %}
{% assign inspiration_img8 = section.settings.inspiration_img8 %}
{% assign inspiration_img9 = section.settings.inspiration_img9 %}
{% assign headline-accent-inspiration = section.settings.headline-accent-inspiration %}
{% assign title = section.settings.title %}
{% assign description = section.settings.description %}
{% assign essential_stencil = section.settings.essential_stencil %}
{% assign inspiration_button = section.settings.inspiration_button %}
{% assign button_url = section.settings.url %}
{% assign sub_title = section.settings.sub_title %}
{% assign title = section.settings.title %}
{% assign comments = section.settings.comment %}

<div class="container">
  <div class="essentical-inspiration-wrap">
    <div class="inspiration-block">
      <div class="stencil-collection-title-wrap">
        <div class="stencil-action-inspired-title">
          {{ sub_title }}
        </div>
        <div class="stencil-action-main-title {% if section.settings.bg_status %}bg-true{% endif %}" style="--bg-color: {{section.settings.bg_color}}">
          {{ title }}
        </div>
        <div class="stencil-action-by-title">
          {{ comments }}
        </div>
        <div class="small-divider"></div>
      </div>
      <div class="content">
        <div id="stamped-reviews-widget" data-widget-type="visual-gallery" data-feed-type="carousel" data-auto-play="false" data-auto-play-speed="30000" data-height="375" data-with-photos="true"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Become an Ambassador",
  "class": "inspiration-section",
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "bg_status",
      "label": "Title background status"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Backgorund color",
      "default": "#f7ebe5"
    },
    {
      "type": "text",
      "id": "comment",
      "label": "comment"
    }
  ],
  "presets": [{
    "name": "Stencil Inspiration",
    "category": "Image"
  }]
}
{% endschema %}