<div id="stamped-reviews-widget" data-widget-type="carousel" data-limit-words="21" data-min-rating="3" data-random="? string:What our customers are saying ?" data-title="What our customers are saying" data-auto-play="true" data-auto-play-speed="5" data-style-color-title="#000000" data-style-color-link="#c2c2c2"></div>{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
