var customize = {
  init: function(){
    displayCurrentTime();
    function displayCurrentTime() {

      var limit_date = $('.featured-time-block-description').data('date');
      if (limit_date != undefined) {
        let limit_year = 0;
        let limit_month = 0;
        let limit_day = 0;
        let time = 0;
        let min = 0;
        let date_time_array = limit_date.split(" ");
        if (date_time_array[0].indexOf("/") > -1) {
          let date_array = date_time_array[0].split('/');
          date_array.reverse();
          if (date_array[2] != undefined) {
            limit_year = date_array[2];
          }
          if (date_array[1] != undefined) {
            limit_month = date_array[1];
          }
          if (date_array[0] != undefined) {
            limit_day = date_array[0];
          }
  
          if (date_time_array[1] != undefined) {
            let time_array = date_time_array[1].split(':');
            time = time_array[0];
            if (time_array[1] != undefined) {
              min = time_array[1];
            }
          }
  
        } else {
          let time_array = date_time_array[0].split(':');
          time = time_array[0];
          if (time_array[1] != undefined) {
            min = time_array[1];
          }
        }
        
        setInterval(()=> {
          let current_date = new Date();
  
          var limit_time = new Date(limit_year, limit_month-1, limit_day, time, min, 0, 0);
        
          var Difference_In_Time = limit_time.getTime() - current_date.getTime(); 
          console.log(Difference_In_Time);
          var left_Days = parseInt(Difference_In_Time / (1000 * 3600 * 24));
          var left_time = parseInt(Difference_In_Time / (1000 * 3600) - left_Days * 24);
          var left_min = parseInt(Difference_In_Time / (1000 * 60) - left_Days * 24 * 60 - left_time * 60);
          var left_sec = parseInt(Difference_In_Time / 1000 - left_Days * 24 * 3600 - left_time * 3600 - left_min * 60);
          console.log(left_Days);
          $("body .featured-time-block-content .featured-time-days").text(left_Days);
          $("body .featured-time-block-content .featured-time-hours").text(left_time);
          $("body .featured-time-block-content .featured-time-mins").text(left_min);
          $("body .featured-time-block-content .featured-time-seconds").text(left_sec);
        }, 1000)   
      }
       
    }
  }
};

var LogoTitleCarousel = function () {
  $('.logo-bar-section .logo-bar').flickity({
    asNavFor: '.logo-bar-section .logo-content',
    contain: true,
    prevNextButtons: false,
    pageDots: false,
    draggable: false,
  });
}

var LogoCarousel = function () {
  $('.logo-bar-section .logo-content').flickity({
    adaptiveHeight: true,
    wrapAround: true,
    cellAlign: 'left',
    imagesLoaded: true,
    prevNextButtons: false,
    draggable: true,
    pageDots: false,
    autoPlay: 3000,
    hash: true
  });
}




var featuredProducts = {
  init: function(){
    if ($(window).width() < 798) {
      var $carousel = $('.js-product-slider .products-slider').flickity();
      $carousel.flickity('destroy');
      var $jsSlider = $('.js-recently-viewed .js-rv-slider').flickity();
      $jsSlider.flickity('destroy');
    }
  }
}

var loadProductDescription = function() {
  $('<div class="feature_divider"></div><div class="tab-detail-demension tab-open"><span>Details & Dimensions</span><svg class="tab-down" width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>22969407-800A-49F1-BB07-BE7DAF4CB9DF</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.400000006"><g id="product7" transform="translate(-1357.000000, -933.000000)" stroke="#32373B"><polyline id="angle-down" points="1357.65803 933.525988 1363.53107 939.399031 1369.40412 933.525988"></polyline></g></g></svg><svg class="tab-up" width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>2B8F1E06-59E4-4439-A41A-C4DD14DB6811</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.400000006"><g id="product7" transform="translate(-1357.000000, -716.000000)" stroke="#32373B"><polyline id="angle-up" transform="translate(1363.531074, 719.462509) scale(1, -1) translate(-1363.531074, -719.462509) " points="1357.65803 716.525988 1363.53107 722.399031 1369.40412 716.525988"></polyline></g></g></svg></div>').insertBefore(".tabs-content #tab1");
  $('<div class="feature_divider"></div><div class="tab-reusable tab-close"><span>Reusable</span><svg class="tab-down"width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>22969407-800A-49F1-BB07-BE7DAF4CB9DF</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.400000006"><g id="product7" transform="translate(-1357.000000, -933.000000)" stroke="#32373B"><polyline id="angle-down" points="1357.65803 933.525988 1363.53107 939.399031 1369.40412 933.525988"></polyline></g></g></svg><svg class="tab-up" width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>2B8F1E06-59E4-4439-A41A-C4DD14DB6811</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.400000006"><g id="product7" transform="translate(-1357.000000, -716.000000)" stroke="#32373B"><polyline id="angle-up" transform="translate(1363.531074, 719.462509) scale(1, -1) translate(-1363.531074, -719.462509) " points="1357.65803 716.525988 1363.53107 722.399031 1369.40412 716.525988"></polyline></g></g></svg></div>').insertBefore(".tabs-content #tab2");
  $('<div class="feature_divider"></div><div class="tab-shipping-warranty tab-close"><span>Shipping & Warranty</span><svg class="tab-down"width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>22969407-800A-49F1-BB07-BE7DAF4CB9DF</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.400000006"><g id="product7" transform="translate(-1357.000000, -933.000000)" stroke="#32373B"><polyline id="angle-down" points="1357.65803 933.525988 1363.53107 939.399031 1369.40412 933.525988"></polyline></g></g></svg><svg class="tab-up" width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>2B8F1E06-59E4-4439-A41A-C4DD14DB6811</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.400000006"><g id="product7" transform="translate(-1357.000000, -716.000000)" stroke="#32373B"><polyline id="angle-up" transform="translate(1363.531074, 719.462509) scale(1, -1) translate(-1363.531074, -719.462509) " points="1357.65803 716.525988 1363.53107 722.399031 1369.40412 716.525988"></polyline></g></g></svg></div>').insertBefore(".tabs-content #tab3");
  $('<div class="feature_divider"></div>').insertAfter(".tabs-content #tab3");
}  

$(function() {
  LogoCarousel();
  LogoTitleCarousel();
  loadProductDescription();
  customize.init();
  featuredProducts.init();

  $( ".tab-detail-demension svg").click(function() {
    if($( ".tab-detail-demension").hasClass("tab-open")) {
      $( ".tab-detail-demension").addClass("tab-close");
      $( ".tab-detail-demension").removeClass("tab-open");
      $("#tab1").removeClass("active");
    } else {
      $( ".tab-detail-demension").addClass("tab-open");
      $( ".tab-detail-demension").removeClass("tab-close");
      $("#tab1").addClass("active");
    }
  });
  
  $( ".tab-reusable svg").click(function() {
    if($( ".tab-reusable").hasClass("tab-open")) {
      $( ".tab-reusable").addClass("tab-close");
      $( ".tab-reusable").removeClass("tab-open");
      $("#tab2").removeClass("active");
    } else {
      $( ".tab-reusable").addClass("tab-open");
      $( ".tab-reusable").removeClass("tab-close");
      $("#tab2").addClass("active");
    }
  });

  $('.new-arrival-product-slider').flickity({
    adaptiveHeight: true,
    wrapAround: true,
    cellAlign: 'left',
    imagesLoaded: true,
    prevNextButtons: true,
    draggable: true,
    pageDots: false,
    autoPlay: 3000,
    hash: true
  });

  $( ".tab-shipping-warranty svg").click(function() {
    if($( ".tab-shipping-warranty").hasClass("tab-open")) {
      $( ".tab-shipping-warranty").addClass("tab-close");
      $( ".tab-shipping-warranty").removeClass("tab-open");
      $("#tab3").removeClass("active");
    } else {
      $( ".tab-shipping-warranty").addClass("tab-open");
      $( ".tab-shipping-warranty").removeClass("tab-close");
      $("#tab3").addClass("active");
    }
  });
});


